<h3>Tabla de Materias</h3>
<div id="divTablaResultados" *ngIf="AccionABMC == 'L' && Lista?.length > 0">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th class="text-center">ID</th>
				<th class="text-center">Año</th>
				<th class="text-center">Nombre</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let dto of ListaMaterias">
				<td>{{dto.IdMateria | uppercase}}</td>
        <td class="text-right">{{dto.Precio | currency:'$'}}</td>
				<td class="text-right">{{dto.Stock}}</td>
				<td>{{dto.FechaAlta| date:'dd/MM/yyyy'}}</td>
				<td>{{GetArticuloFamiliaNombre(dto.IdArticuloFamilia)}}</td>
				<td>{{dto.Activo ? 'SI' : 'NO'}}</td>
				<td class="text-center text-nowrap">
					<button type="button" class="btn btn-sm btn-outline-primary" title="Ver" (click)="Consultar(dto)">
                    <span class="fas fa-eye"></span>
                </button>
					<button type="button" class="btn btn-sm btn-outline-primary" title="Modificar" (click)="Modificar(dto)">
                    <span class="fas fa-pencil-alt"></span>
                </button>
					<button type="button" class="btn btn-sm btn-outline-{{ dto.Activo ? 'danger':'success'}}"
                    title="{{dto.Activo ? 'Desactivar':'Activar'}}" (click)="ActivarDesactivar(dto)">
                    <span class="fas fa-{{dto.Activo ? 'times':'check'}}"></span>
                </button>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- Paginador-->
	<div id="divPaginador" class="col-sm-12">
		<div class="row bg-light">
			<div class="col-sm-3">
				<span class="label label-default font-weight-bold">Registros: {{RegistrosTotal}}</span>
			</div>
			<div class="col-sm-6 text-center">
				<ngb-pagination [(page)]="Pagina" (pageChange)="Buscar()" [pageSize]="10" [maxSize]="10"
					[collectionSize]="RegistrosTotal"></ngb-pagination>
			</div>
			<div class="col-sm-3 text-right">
				<button type="button" class="btn btn-primary" (click)="ImprimirListado()"><span class="fas fa-print"></span>
                    Imprimir</button>
			</div>
		</div>
	</div>
</div>